.container
  .row
    .col-md-3

    .col-md-6
      %h1.heading-l.text-center Sign in
      .m-form
        = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
          .form-group
            = f.label :email, "Your Email"
            = f.email_field :email, :autofocus => true
          .form-group
            = f.label :password
            = f.password_field :password
          .form-group
            - if devise_mapping.rememberable?
              = f.check_box :remember_me
              %span.mls= f.label :remember_me
          .form-group
            = f.submit "Sign in", :class => "btn btn-danger btn-block btn-lg"

    .col-md-3
